<!-- View for showing a single `Post` -->
<h1> <%=@post.title %> </h1>
<p> <%= @post.body %> </p>
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', posts_path %>